*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url('./img/photo-1467810563316-b5476525c0f9.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);

}
body h1{
    font-size: 2.5em;
    color: rgb(226, 6, 6);
    -webkit-box-shadow: 3px 3px 22px 4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 3px 22px 4px rgba(66, 68, 90, 1);
    border-radius: 20px;
    box-shadow: 3px 3px 22px 4px rgba(66, 68, 90, 1);

}

.container{
    width: 50%;
    min-height: 320px;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(226, 6, 6);
    font-size: 2.5em;
    -webkit-box-shadow: 3px 3px 22px 4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 3px 22px 4px rgba(66, 68, 90, 1);
    box-shadow: 3px 3px 22px 4px rgba(66, 68, 90, 1);
    text-align: center;
    border-radius: 10px;
}

.hours h2{
}
.minutes{

}
.seconds{

}

/* media queries */
@media screen and (max-width:1380px){
    .container{
        font-size: 1.5em;
    }
}

@media screen and (max-width:860px){
    .container{
        font-size: 1.2em;
    }
}
@media screen and (max-width:696px){
    .container{
        flex-direction: column;
        min-width: 320px;
    }
}

@media screen and (max-width:329px){
    body h1{
        font-size: 1.7em;
    }
}